body {
    display: flex;
    width: 728px;
    height: 267.59px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #c4c4c4;
}

/*MENU BAR*/
.top{
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  display: flex;
  width: 905px;
  margin-top: 0px;
  background-color: grey;
  border-radius: 20px;
  height: 40px;
}

h2{
  font-family: 'Roboto Slab', serif;
  display: flex;
  margin: 40px;
  font-size: 20px;
  text-shadow: 2px 2px 5px gold;
}
/* {a} link of pages */
  a{
      text-decoration: none;
      color:white;
  }
h2 :hover{
  cursor: pointer;
  color: black;
  text-shadow: 2px 2px 5px gold;
  text-decoration: none;
}

 * {color:black; text-decoration: none;}
 
/*Footer*/
#footer{
  clear: both;
  width: 980px;
  padding: 5px 0 20px 0;
  text-align: center;
  color: #333;
  background-color: #FFF;
}
/* { The End } */